baseURL: "http://hanami.run/blog"
languageCode: "en-us"
title: "On Shipping Hanami - fast and reliable email forwarding service"

theme: "PaperMod"
paginate: 10

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

#googleAnalytics: UA-123-45

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: On Shipping Hanami - Best Email Forwarding Service
    description: "Hanami - fast and reliable email forwarding service for your domains. Incoming mail API handler, email webhooks for your web services. Support Rails action mailbox. Replacement for SES incoming. Built-in support for DKIM, SRS, SPF, ARC, DMARC, and more. No credit card required."
    author: ["Vinh", "Ruby"]
    # author: ["Me", "You"] # multiple authors
    images: ["<link or path of image for opengraph, twitter-cards>"]

    defaultTheme: auto # dark, light
    disableThemeToggle: false

    ShowReadingTime: true
    ShowShareButtons: true
    disableSpecial1stPost: false
    comments: false
    hidemeta: false
    showtoc: true
    tocopen: true
    ShowPostNavLinks: true

    assets:
        disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        favicon: "https://hanami.run/apple-touch-icon.png"
        favicon16x16: "https://hanami.run/favicon-16x16.png"
        favicon32x32: "https://hanami.run/favicon-32x32.png"
        apple_touch_icon: "https://hanami.run/apple-touch-icon.png"
        safari_pinned_tab: "https://hanami.run/apple-touch-icon.png"

    label:
        text: Hanami
        icon: /blog/logo.png
        iconHeight: 48
        # Should we hide text next to logo
        hideText: true

    # profile-mode
    profileMode:
        enabled: false # needs to be explicitly set
        title: Hanami
        subtitle: "Make email forwarding easier for everyone"
        imageUrl: "<img location>"
        imageWidth: 120
        imageHeight: 120
        imageTitle: my image
        buttons:
            - name: Posts
              url: posts
            - name: Tags
              url: tags

    # home-info mode
    homeInfoParams:
        Title: "Receive, Send & Forward emails with your own domain"
        Content: |
          Share engineering lesson that help us build an email forwarding service that support webhook, Email API, CLI

    socialIcons:
        - name: twitter
          url: "https://twitter.com/kureikain"
        - name: stackoverflow
          url: "https://stackoverflow.com/"
        - name: github
          url: "https://github.com/yeo"

    #analytics:
    #    google:
    #        SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - identifier: archives
          name: Archive
          url: archives
          weight: 100

        #- identifier: categories
        #  name: categories
        #  url: /categories/
        #  weight: 200
        #- identifier: tags
        #  name: tags
        #  url: /tags/
        #  weight: 20
        #- identifier: docs
        #  name: "Docs"
        #  url: https://hanami.run/docs
        #  weight: 300

        - identifier: Pricing
          name: "Pricing"
          url: https://hanami.run/#pricing
          weight: 2

        - identifier: search
          name: "Search"
          url: /search
          weight: 500

taxonomies:
    category: categories
    tag: tags
    series: series

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
markup:
    highlight:
      # anchorLineNos: true
      codeFences: true
      guessSyntax: true
      lineNos: true
      style: monokai

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary
